*{
    padding: 0;
    margin: 0;
}
 body{
    background: #0f3e5a;
    color: #fff;
 }

.btnsi {
    position: relative;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    background-color: green;
    text-decoration: none;
    color: #fff;
}

.btnno {
    border: 0;
    border-radius: 10px;
    padding: 10px;
    background-color: red;
    transition: all 0.1s;
    text-decoration: none;
    color: #fff;
}

h1 {
    text-align: center;
    padding: 30px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.space{
    padding: 10px;
}


img{
    display: block;
    margin: auto;
}
